<template name="Show">
	<!-- show user"s docs -->

	{{#if currentUser}}

		<div class="story">


			<!-- <form id="edited">
				<input type="text" value="{{storyContent}}" name="edited-story">
				<input type="submit" value="Save Edited Copy">
			</form> -->
			{{> editDoc }}
			<p id="{{_id}}" class="storyContent">{{storyContent}}</p> 
			
			<p>by 
				<strong>{{username}}</strong>
			</p>

			<button id="delete">delete</button>
			<button id="submit">submit</button>

		</div>

	{{/if}}


</template>